body{
	text-align: center;
}
#parte_1-1 body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#parte_1-1 h1 {
    color: darkblue;
}

#parte_1-1 h2 {
    color: darkred;
}

#parte_1-1 h3 {
    color: gray;
}

#parte_1-2 h1 {
	color: darkblue;
}
#parte_1-2 img {
    width: 150px;
    margin: 10px;
}

#parte_1-3 ol {
	font-family: cursive;
	text-align: center;
    display: inline-block;
    text-align: left;
}

#parte_1-3 h1 {
	color: darkblue;
}

#parte_1-3 h2 {
	color: darkred;
}

#parte_1-4 h1{
	color: darkblue;
}

#parte_1-4 h2 {
	color: darkred;
}

#parte_1-4 table{
	text-align: center;
	font-family: fantasy;
	font-size: 25px;
}

#parte_1-5 h1{
	color: darkblue;
}

#parte_1-5 h2{
	color: darkred;
}

#parte_1-5 form {
	text-align: center;
	font-family: cursive;
	background: darkcyan;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#parte_2-1 h1{
	color: darkblue;
}

#parte_2-1 h2{
	color: blue;
	font-size: 40px;
}

#parte_2-1 h3{
	color: blue;
	font-size: 30px;
}

#parte_2-1 h4{
	color: blue;
	font-size: 20px;
}

#parte_2-2 h1{
	color: darkblue;
}
#parte_2-2 .contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#parte_2-2 img{
	width: 200px;
    height: auto;
    border-radius: 10px;
}

#parte_2-3 .tarjeta {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
}

#parte_2-3 .tarjeta img {
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

#parte_2-3 .texto {
    color: black;
}

#parte_2-3 .descripcion{
	color: white;
	background-color: black;
	text-align: center;
}

.bandera {
    width: 150px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}

.francia {
    background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
}

.alemania {
    background: linear-gradient(to bottom, black 33%, red 33%, red 66%, yellow 66%);
}

.italia {
    background: linear-gradient(to right, green 33%, white 33%, white 66%, red 66%);
}






